.item { 
  height: 4.5em;
  width: 160px;
  font-family: fira mono; 
  font-size: 0.6em;
  border-bottom: 2px solid #ccc; 
  border-left: 1px solid #eee;
  border-right: 1px solid #eee; 
  border-top: 1px solid #eee; 
  margin: 1px; 
  margin-left: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 12px;
  background-color: #f9f9f9;
  position: relative;
}

.item.shallower { 
  /* height: 3em; */ 
}

.item.selected-general {  
  -webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
  border-bottom: 2px solid #339; 

}

.btn-activated { 
  color: red;
}

.item .course-code { 
  float: left; 
}

.item .class-section { 
  float: right; 
}

.item .course-name { 
  clear: both; 
  width: 100%; 
  padding: 0 auto;
  font-size: 1em;
  text-align:center; 
  font-family: fira sans; 
}

.item .room-name { 
  clear: both; 
  float: left; 
  position:absolute; bottom:0;
}

.item .teacher-name { 
  clear: both; 
  float: left; 
  position: absolute; 
  /* bottom:1em; */
  font-size: 0.8em;
  bottom: 0em;
}



/* GUI styles */ 
.alloc_id { 
  display: none;
}
.day-heading { 
  margin-top: 2px;
  border-top: 1px solid #ccc;
  font-family:  'Fira Sans';
  width: 10000px; 
  background-color: #dcdcdf;
  opacity: 0.8;
  font-weight: 400;
  font-size: 0.6em;
  padding-left: 90px; 
  margin-left: -100px; 
  margin-bottom: 5px;
  font-variant: small-caps;
}

.room-heading { 
  padding-left: 10px; 
  font-family:  'Fira Sans';
  font-size: 0.7em;
  xheight: 3em; 
  margin-top: 2em;
  vertical-align: middle;
  width: 100px; 
  xposition: absolute; 
}
.slot-blank-room { 
  padding-bottom: 0px; 
  padding-top: 0px; 
  height: 0.1em;
  margin-bottom: 0px; 
  margin-top: 0px;
}
.timings { 
  padding-bottom: 10px; 
  padding-top: 0px; 
  height: 0.1em;
  margin-bottom: 0px; 
  margin-top: 0px;
  background: none; 
  border: none; 
  text-align: center;
}
.row-alt-bg { 
  background: #f6f6f6; 
}

#modal-new-timetable { 
  font-size: 0.8em;
}
#modal-new-timetable input { 
  font-size: 0.8em;
}

/* Menubar styles */ 
#btn-actions { 
  margin-left: -25px;
  margin-top: 8px;
}
#btn-actions div a { 
  font-family: 'Fira Sans';
  font-size: 0.8em;
}

#search-leftover-dropdown { 
  x-margin-top: 0px;
  margin-left: 20px; 
}
#search-leftover-dropdown > button { 
  margin-top: 8px;
  
}
#search-leftover-courses-box {
  font-family: 'Fira Mono';
  x-padding: 20px;
  x-margin-top: -6px;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
}

#search-leftover-dropdown > ul > li > a , #search-leftover-dropdown > ul > input {
  font-family: 'Fira Mono';
  padding-left: 10px; 
  text-decoration: none;
  color: black; 
  font-size: 0.8em;
  width: 500px;
}

#filter-box { 
  font-family: 'Fira Mono';
  padding-left: 10px; 
  margin-top: 8px;
  margin-left: 15px;
  font-size: 0.8em;
  width: 100px;
}

#alloc-id-selected { 
  display:block; 
  font-family: 'Fira Mono';
  padding-left: 2px; 
  margin-top: 20px;
  margin-left: 25px;
  font-size: 0.6em;
}


/* filters and clash styles */ 
.highlight-filter-box { 
  xbackground: #FFFFE0;  /* lightyellow */ 
  background: #E6E6FA; /* lavendar */ 
  border-bottom: 2px solid #4B0082; 
}
.in-clash-student { 
  background: #FFFAD9; /* lavendar */ 
  border-bottom: 2px solid red; 
}

.in-clash-teacher { 
  background: #FFFFE0; /* lavendar */ 
  border-bottom: 2px solid #808000; 
}

.clash-count { 
  display: none; 
  float: right; 
  font-size: 0.9em;
  opacity: 0.75;
  margin-top: -7px;
}