<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" -->
    <meta name="viewport" content="width=10000, initial-scale=1, shrink-to-fit=no">

    <title>Mini Timetable</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" -->
    <link href="assets/styles.css" rel="stylesheet">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <div class="dropdown" id='btn-actions'>
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="btn-actionns-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class='fas fa-server'></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" id='btn-actions-new-timetable'>New Timetable</a>
                            
                        </div>
                    </div>
                </li>
                <li class="nav-item active"><a class="nav-link" href="#"><button type="button"
                            class="btn btn-sm btn-success" id='btn-refresh'><i class="fas fa-sync-alt"></i></button></a>
                </li>
                <li class="nav-item active"><a class="nav-link" href="#"><button type="button"
                            class="btn btn-sm btn-primary" id='btn-check-clash'><i
                                class="fas fa-times-circle"></i></button></a>
                </li>
                <li class="nav-item active"><a class="nav-link" href="#">
                        <button type="button" class="btn btn-sm btn-primary" id='btn-swap'><i
                                class="fas fa-arrows-alt-h"></i></button></a></li>
                <li class="nav-item active"><a class="nav-link" href="#">
                        <button type="button" class="btn btn-sm btn-primary" id='btn-insert'><i
                                class="fas fa-angle-double-down"></i></button></a></li>
                <li>
                    <div class="dropdown" id="search-leftover-dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button"
                            data-toggle="dropdown">Remaining
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <input class="form-control input-sm" id="search-leftover-courses-box" type="text"
                                placeholder="Search Remaining" autocomplete="off">
                            <!-- li><a href="#">HTML</a></li -->
                            <li>test1</li>
                            <li>test2</li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item active">
                    <input class="form-control" autocomplete="off" id="filter-box" type="text" placeholder="Find ...">
                </li>
                <li class="nav-item active">
                    <span id='alloc-id-selected'></span>
                </li>
            </ul>
        </div>
    </nav>

    <div id="main-container" class="container" style='min-width: 10000px'>
        <!-- populated dynamically. go away! -->
    </div>




    <script>

  // gen_data();
    </script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        crossorigin="anonymous"></script>
    <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src='/assets/settings.js'></script>
    <script src='/assets/helpers.js'></script>
    <script src='/assets/gridmaker.js'></script>
    <script src='/assets/slot_handlers.js'></script>
    <script src='/assets/handlers.js'></script>

</body>



</html>